
COLOR1 = #202246
COLOR2 = #235C8B
COLOR3 = #20B2D6

@import 'mixins/border_radius'
@import 'mixins/box_shadow'
@import 'mixins/clearfix'
@import 'mixins/helvetica'
@import 'mixins/ie6-fixed'
@import 'mixins/min-height'
@import 'mixins/opacity'
@import 'mixins/transform'
@import 'mixins/linear_gradient'

#page-wrap
  width 940px
  margin 0 auto

a
  color: #0088cc;
  text-decoration: none;

body
  background-linear-gradient top #fff 18%  COLOR2 203%
  background-repeat: no-repeat;
  helvetica()
  width 90%
  margin 0 auto

#logo
  background url('/bundles/backend/img/logo_gureserbi.png') no-repeat
  box-shadow 10px 10px 5px #888;
  height 50px
  margin-top 0
  margin-bottom 10px
  width 207px

nav
  // border-bottom 4px solid COLOR2
  height 47px
  // margin 0 auto 0 60px;
  // margin 0 auto 0 45px;
  margin-left -38px
  position relative
  width 940px
  z-index 100

  ul
    display inline-block

    li
      border-top 2px solid COLOR2
      border-left 2px solid COLOR2
      border-right 2px solid COLOR2
      border-radius 10px 10px 0px 0px
      display inline-block
      font-size 14px
      helvetica()
      margin -2px
      padding 5px
      text-align center
      width 100px
.aktiboa
  border-left 2px solid COLOR2
  border-bottom 2px solid #fff
.azkena
  border-right 2px solid COLOR2
.ultabs
  padding 2px 2px -1px 2px
  margin: 18px auto 0px auto;
.fila
  display table-row
.kolumna
  display table-cell

#contenido
  background-color #fff
  border-left 2px solid COLOR2
  border-right 2px solid COLOR2
  border-bottom 2px solid COLOR2
  border-top 2px solid COLOR2
  border-radius 0px 10px 10px 10px
  margin-top 0px
  margin-left auto
  margin-right auto
  min-height 300px
  padding 10px
  position relative
  width 940px
  z-index 1

.menuaborde
  border: 2px solid #e4e4e4;
  border-radius: 10px 10px 10px 10px;
  display table-cell
  list-style none
  padding: 3px 0 3px 3px;
  position: absolute;
  top: 45px;
  width: 13% !important;

#divcontenido
  display table-cell
  width 100%

  form
    margin 30px auto
    width 90%

    .MYCLASSFOR_LABEL
      font-size 0.875em
      color #4d4d4d
      cursor pointer
      display block
      font-weight 700
      margin-bottom: 0.1875em
      margin-right 5px
      text-align left

    .MYCLASSFOR_INPUTS
      background-color white
      font-family inherit
      border 1px solid #cccccc
      -webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
      box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
      color rgba(0, 0, 0, 0.75)
      display block
      font-size 0.875em
      margin 0 0 1em 0
      padding 0.5em
      height 2.3125em
      text-align left
      width 100%

    .bilatu
      width: 150px
      margin 0 auto

    fieldset
      width: 168px

    .seleccion
      width: 156px

.h3titulo
  border: 0 none;
  color: #1d93c5;
  font-size: 26px;
  font-weight: bold;
  line-height: 24px;
  margin: 10px 0 10px;


.linean
  display inline-block

#divakzioak
  width 150px

// TABLAS

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width 100%
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}


.tdakzioak
  width 160px
.ulakzioak
  display inline-block
  list-style: none;
  margin 0px
  padding 0px !important
  li
    width 67px

.aukeratutakoirudia
    border:5px dashed red

.divconfig
  // border 1px solid COLOR2
  border-radius 5px
  margin 10px
  height 520px
  position relative
  text-align center
  widows  400px

.divselecciona
  ul
    display inline-block
    left 50%
    list-style none
    margin auto auto
    position absolute
    top 50%
    li
      display inline-block

.btn
  display inline-block
  background-color lighten(COLOR1, 80%)
  padding 15px

.btn:hover
  background-color lighten(COLOR1, 70%)

.enlinea
  display: inline-block;

ul
  list-style none
  // ul
  //   border 1px solid COLOR3

.ezabatugehitu
  border 1px solid COLOR3
  margin-bottom 10px
  margin-top 10px

.divsubsel
  border 1px solid COLOR1
  display inline-block
  height 100%
  vertical-align top
  width 24%

  ul
    padding 0
    margin 0

  .liseleccionado
    background-color COLOR2
    color #fff


.imgseleccionado img
  height 150px
  width 150px

.divnombre
  margin 30px auto

.divbtn
  margin-top 20px
  text-align left
.btngrabar
  background-color:transparent;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:2px solid #e4e4e4;
  display:inline-block;
  color:#222;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #e4e4e4;
