<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="eu" class="no-js" ng-app="Guikuzi"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Guikuzi</title>
  <meta name="description" content="Gureak Taldea">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<style>
  html {
    background-color:#f4f2d4;
  }
  #divimg {
    margin: 20% auto;
    text-align: center;
  }
  p {
    font-size: 12px;
    color: #ac5f56;
    font-family: arial;
  }
  a {
   color: #ac5f56;
   font-size: 12px;
   font-family: arial;
  }

</style>
<body>
  <div id="page-wrap" style="position:relative;">

      <div id="wrap">
        <div id="divimg">
          <img src="{{ asset('images/error404.gif') }}" alt="Error">
        </div>
      </div>

  </div>
  <footer>
    <br>
    <p>  &copy; Gitek 2013</p>
    <p>Jarri harremanetan sistema administrariarekin <a href="mailto:iibarguren@grupogureak.com">hemen</a> klikatuz</p>
  </footer>
</body>
</html>



