{% extends '::backend.html.twig' %}

{% block contenido -%}

{{ notify_all() }}

<div id="divh1" class="linean">
  <h3 class="h3titulo">Editar: {{ entity.nombre }}</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">
    <ul class="menuaborde">
      <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
       <li><a href="{{path('admin_jaula')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
       <li><a href="#" class="add_tag_link"><img src="{{ asset('bundles/backend/img/plus18.png') }}" alt="volver">&nbsp;{{"Imagen"|trans}}</a></li>
       <li><a class="various fancybox.ajax" href="{{ path('admin_jauladet_new') }}">Ajax</a></li>
    </ul>
  </div>

  <div id="divcontenido" class="linean">

    <form action="{{ path('admin_jaula_update', { 'id': entity.id }) }}"
        method="post" {{ form_enctype(edit_form) }}>

      <input type="hidden" name="_method" value="PUT" />

      {{ form_row(edit_form.nombre) }}
      {{ form_row(edit_form.comprobar) }}

      <h3>Detalles</h3>

      <ul class="tags" data-prototype="{{ form_widget(edit_form.jauladets.vars.prototype)|e }}">
          {% for jauladet in edit_form.jauladets %}
          <li class="ezabatugehitu">
            <div class="divimgjaulabox">
                <div class="divjaulaimg">
                    {% if entity.jauladets[loop.index0].foto %}
                      {#<img src={{"/media/cache/my_prenda/images/uploads/" ~ entity.jauladets[loop.index0].foto }} alt="">#}
                      <img src="{{ '/images/uploads/' ~ entity.jauladets[loop.index0].foto | imagine_filter('my_thumb') }}" />
                    {% endif %}
                  </div>
                  <div class="divjaulaform">
                    {{ form_label(jauladet,'Selecciona imagen:' | trans,{'attr': {'class': 'title milabel' }}) }}
                    {{ form_errors(jauladet) }}
                    {{ form_widget(jauladet,{ 'attr': {'class': 'input xlarge'}}) }}
                  </div>
                </div>
            </div>
          </li>
          {% endfor %}
      </ul>

      <div style="display:none;">
        {{ form_rest(edit_form) }}
        <p>
          <button type="submit">Edit</button>
        </p>
      </div>
    </form>
  </div><!-- <div id="divcontenido" class="linean"> -->
</div>
{% endblock %}
