{% extends '::backend.html.twig' %}

{% block contenido -%}

{{ notify_all() }}

<div id="divh1" class="linean">
  <h3 class="h3titulo">Editar: {{ entity.nombre }}</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">
    <ul class="menuaborde">
      <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
       <li><a href="{{path('admin_jaula')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
       <li><a class="various fancybox.ajax" href="{{ path('admin_jauladet_new', { 'jaulaid': entity.id }) }}"><img src="{{ asset('bundles/backend/img/plus18.png') }}" alt="volver">&nbsp;{{"Imagen"|trans}}</a></li>
    </ul>
  </div>

  <div id="divcontenido" class="linean">

    <form action="{{ path('admin_jaula_update', { 'id': entity.id }) }}"
        method="post" {{ form_enctype(edit_form) }}>

      <input type="hidden" name="_method" value="PUT" />

      {{ form_row(edit_form.nombre) }}
      {{ form_row(edit_form.comprobar) }}

      <h3>Huecos</h3>
      <table class="table-bordered table-striped table-condensed">
        <tr>
          <th></th>
          <th>Código</th>
          <th>Descripción</th>
          <th>Imagen</th>
        </tr>
      {% for jauladet in entity.jauladets %}
        <tr>
          <td>
            <span><a href="{{ path('admin_jauladet_edit', { 'id': jauladet.id }) }}" class="various fancybox.ajax">
              <img src="{{ asset('bundles/backend/img/editar18.png') }}" alt="editar">{{ "Editar" | trans }}
            </a></span>
            <span><a href="{{ path('admin_jauladet_delete', { 'id': jauladet.id , 'token': csrf_token(jauladet.csrfIntention('delete')) })}}" onclick="return   confirm('¿Seguro que desea eliminar? OJO!: Está acción eliminara también las configuraciones que dependan de ella.');">
              <img src="{{ asset('bundles/backend/img/eliminar18.png'  ) }}" alt="Eliminar">{{"Eliminar" |trans}}
            </a></span>
          </td>
          <td>{{ jauladet.nombre }}</td>
          <td>{{ jauladet.descripcion }}</td>
          <td>{% if jauladet.foto %}
            <a href="{{ '/images/uploads/' ~ jauladet.foto }}" class="fancybox">
              <img src="{{ vich_uploader_asset(jauladet, 'image') | imagine_filter('my_mini') }}" />
            </a>
              {% endif %}
          </td>
        </tr>
      {% endfor %}

      </table>

      <div style="display:none;">

        {{ form_rest(edit_form) }}
        <p>
          <button type="submit">Edit</button>
        </p>
      </div>
    </form>
  </div><!-- <div id="divcontenido" class="linean"> -->
</div>
{% endblock %}
