{% extends '::backend.html.twig' %}

{% block contenido -%}

<div id="divh1" class="linean">
    <h3 class="h3titulo">Crear Jaula</h3>
</div>

<div class="fila">

    <div id="divakzioak" class="linean">

        <ul class="menuaborde">
            <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
            <li><a href="{{path('admin_jaula')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
            </li>
        </ul>

    </div>

    <div id="divcontenido" class="linean">

        <form action="{{ path('admin_jaula_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_row(form.nombre) }}
            {{ form_row(form.comprobar) }}
            <h3>Detalles</h3>
            <ul class="tags" data-prototype="{{ form_widget(form.jauladets.vars.prototype)|e }}">
                {% for jauladet in form.jauladets %}
                    <li>{{ form_row(jauladet.foto) }}</li>
                    <li>aaaa</li>
                {% endfor %}
            </ul>

            <div style="display:none;">
                {{ form_rest(form) }}
                <p>
                    <button type="submit">Create</button>
                </p>
            </div>

        </form>
    </div> <!-- fila -->



{% endblock %}
