img.AngularJS-small {
  width: 95px;
  height: 25px;
}


.clear-navbar {
  margin-top: 60px;
}

.footer {
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.spacer {
  height: 1em;
}


.icon-cog {
  line-height: 13px;
}

/* =============================== */

.form-search .dropdown-menu {
  margin-left: 10px;
}

.form-search .code {
  font-family: monospace;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.form-search > ul.nav > li.module {
  background-color: #d3d3d3;
}

.form-search > ul.nav > li.section {
  background-color: #ebebeb;
  min-height: 14px;
}

.form-search > ul.nav > li.last {
  margin-bottom: 1em;
}

.form-search .well {
  border-color: #d3d3d3;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.form-search .well .nav-header {
  text-transform: none;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.form-search .well .nav-header a {
  text-transform: none;
  color: black;
}
.form-search .well .nav-header a:hover {
  background-color: inherit;
}

.form-search .well li {
  line-height: 14px;
}

.form-search .well .guide {
  float: right;
  padding-top: 0;
  color: gray;
}

/* =============================== */
/*            Content              */
/* =============================== */

.hint {
  font-size: .7em;
  color: #c0c0c0;
}

.content code {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: monospace;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: 1em;
}

ul.parameters > li > p,
.returns > p {
  display: inline;
}

ul.methods > li,
ul.properties > li,
ul.events > li {
  list-style: none;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.member.method > h2,
.member.property > h2,
.member.event > h2 {
  margin-bottom: .5em;
}

ul.methods > li > h3,
ul.properties > li > h3,
ul.events > li > h3 {
  margin: -19px -19px 1em -19px;
  padding: .25em 19px;
  background-color: #d3d3d3;
  font-family: monospace;
}

.center {
  display: block;
  margin: 2em auto;
}

.diagram {
  display: block;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid black;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.tutorial-nav {
  margin-left: 175px;
  color: black;
  margin-top: 2em;
  margin-bottom: 2em;
}

.tutorial-nav a {
  color: white;
}

.tutorial-nav a:hover {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}
