html,
body {
  height: 100%;
}
#page-wrap {
  /*width: 940px;*/
    width: 90%;
  margin: 0 auto;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 150px;
}
a {
  color: #08c;
  text-decoration: none;
}
body {
  background-linear-gradient: top #fff 18% COLOR2 203%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}
#logo {
    background: url("/bundles/backend/img/logo_gureserbi.png") no-repeat;
    /*box-shadow: 10px 10px 5px #888;*/
    height: 80px;
    margin-top: 0;
    margin-bottom: 1px;
    width: 200px;
    float: left;
}
.divbilatzailea {
  margin-top: 0px;
}
.pricing-table,
.title {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
footer {
  position: relative;
  margin-top: -50px;
/* negative value of footer height */
  height: 50px;
  clear: both;
}


#nireinput {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    width: 60% !important;
}
.pricing-table .price {
    font-size:40px !important;
    padding: 10px !important;
}
.pricing-table .title {
    background-color: #ddd;
    padding: 5px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1em;
}

form {
    margin: 0 !important;
}