{% extends '::base.html.twig' %}

{% block title %}BACKEND{% endblock %}

{% block stylesheets %}
{% stylesheets  '@BackendBundle/Resources/public/css/normalize.min.css'
                '@BackendBundle/Resources/public/css/main.css'
                '@BackendBundle/Resources/public/css/mibackend.css'
                '@BackendBundle/Resources/public/css/notifikazioak.css'
                '@BackendBundle/Resources/public/css/tablesorter/style.css'
                '@BackendBundle/Resources/public/css/jquery.fancybox.css'
                '@BackendBundle/Resources/public/css/jquery.fancybox-buttons.css'
                output='css/backend.css' %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts  '@BackendBundle/Resources/public/js/jquery-1.9.1.min.js'
                '@BackendBundle/Resources/public/js/modernizr-2.6.2-respond-1.1.0.min.js'
                '@BackendBundle/Resources/public/js/jquery.tablesorter.min.js'
                '@BackendBundle/Resources/public/js/jquery.fancybox.js'
                '@BackendBundle/Resources/public/js/jquery.fancybox-buttons.js'
                '@BackendBundle/Resources/public/js/mibackend.js'
                '@BackendBundle/Resources/public/js/newconfig.js'
                '@BackendBundle/Resources/public/js/jaula_embed_form.js'
                output='js/backend.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

{% endblock %}

{% block notifikazioak %}
  {{ notify_resources() }}
{% endblock %}

{% block body %}

  <div id="logo"></div>
  {% block nav %}
  <nav>
    <ul class="ultabs">

      {% set miruta = app.request.attributes.get('_route') %}

        <li class="azkena
            {% if miruta == "admin_config" or miruta == "admin_config_configurazioa" or miruta == "admin_config_edit" %} aktiboa {% endif %}">
            <a href="{{ path('admin_config') }}">Configuración</a>
        </li>

        <li class="
            {% if miruta == "admin_residente"  or miruta == "admin_residente_edit" or miruta == "admin_residente_new" %} aktiboa {% endif %}">
            <a href="{{ path('admin_residente') }}">Residentes</a>
        </li>

        {#<li class="#}
            {#{% if miruta == "admin_habitacion" or miruta == "admin_habitacion_edit" or miruta == "admin_habitacion_new" %} aktiboa {% endif %}">#}
            {#<a href="{{ path('admin_habitacion')}}">Habitaciones</a>#}
        {#</li>#}

        <li class="
            {% if miruta == "admin_jaula" or miruta == "admin_jaula_edit" or miruta == "admin_jaula_new" %} aktiboa {% endif %}">
            <a href="{{ path('admin_jaula') }}">Jaulas</a>
          </li>
        <li class="
            {% if miruta == "registro" %} aktiboa {% endif %}">
            <a href="{{ path('registro') }}">Registros</a>
        </li>
        <li class="
            {% if miruta == "registro_grafikoak" %} aktiboa {% endif %}">
            <a href="{{ path('registro_grafikoak') }}">Gráficos</a>
        </li>

    </ul>
  </nav>
  {% endblock %} <!-- NAV -->

  <div id="contenido">
    {% block contenido %}

    {% endblock %}
  </div>

  <footer>
    <br>
    <p>  &copy; Gitek 2012</p>
  </footer>
  </div> <!-- /container -->

{% endblock %}
