{% extends '::backend.html.twig' %}

{% block title %}BACKEND{% endblock %}

{% block stylesheets %}
{% stylesheets  '@BackendBundle/Resources/public/css/normalize.min.css'
                '@BackendBundle/Resources/public/css/main.css'
                '@BackendBundle/Resources/public/css/mibackend.css'
                '@BackendBundle/Resources/public/css/notifikazioak.css'
                '@BackendBundle/Resources/public/css/tablesorter/style.css'
                '@BackendBundle/Resources/public/css/jquery.fancybox.css'
                '@BackendBundle/Resources/public/css/jquery.fancybox-buttons.css'
                '@BackendBundle/Resources/public/css/jquery.fancybox-thumbs.css'
                output='css/config.css' filter='cssrewrite'  %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts  '@BackendBundle/Resources/public/js/jquery-1.9.1.min.js'
                '@BackendBundle/Resources/public/js/modernizr-2.6.2-respond-1.1.0.min.js'
                '@BackendBundle/Resources/public/js/jquery.mousewheel-3.0.6.pack.js'
                '@BackendBundle/Resources/public/js/jquery.fancybox.js'
                '@BackendBundle/Resources/public/js/jquery.fancybox-buttons.js'
                '@BackendBundle/Resources/public/js/jquery.fancybox-thumbs.js'
                '@BackendBundle/Resources/public/js/jquery.tablesorter.min.js'
                '@BackendBundle/Resources/public/js/mibackend.js'
                '@BackendBundle/Resources/public/js/myconfig.js'
                output='js/config.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}


{% endblock %}

