<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="eu" class="no-js" ng-app="Guikuzi"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Guikuzi</title>
    <meta name="description" content="Gureak Taldea">
    <meta name="viewport" content="width=device-width">

    {% block stylesheets %}
        {% stylesheets  '@BackendBundle/Resources/public/css/normalize.min.css'
        '@FrontendBundle/Resources/public/css/foundation.min.css'
        '@FrontendBundle/Resources/public/css/mifrontend.css'
        output='css/frontend.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

<div id="page-wrap" style="position:relative;">
    {% block body %}{% endblock %}
</div>
<footer>
    <br>

    <p>  &copy; Gitek 2012</p>
</footer>
{% block javascripts %}
    {% javascripts filter='?yui_js'
    '@FrontendBundle/Resources/public/js/lib/angular.min.js'
    '@FrontendBundle/Resources/public/js/lib/angular.audio.js'
    '@FrontendBundle/Resources/public/js/lib/angular-resource.min.js'
    '@FrontendBundle/Resources/public/js/main.js'
    output='js/frontend.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>