{% extends '::backend.html.twig' %}

{% block contenido -%}
{{ notify_all() }}
<div id="divh1">
  <h3 class="h3titulo">Lista de Habitaciones</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">
    <ul class="menuaborde">
      <li><a href="{{ path('admin_habitacion_new') }}"><img src="{{ asset('bundles/backend/img/plus18.png') }}" alt=" Añadir">{{"Nuevo" | trans}}</a></li>
    </ul>
  </div>

  <div id="divcontenido" class="linean">
    <table id="niretabla" class="tablesorter table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Codigo</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
        <tr>
          <td class="tdakzioak">
            <ul class="ulakzioak">
              <li class="linean">
                <a href="{{ path('admin_habitacion_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/backend/img/editar18.png') }}" alt="Editar">{{"Editar" | trans }}</a>
              </li>
              <li class="linean"><a href="{{ path('admin_habitacion_delete', { 'id': entity.id , 'token': csrf_token(entity.csrfIntention('delete')) })}}" onclick="return   confirm('¿Seguro que desea eliminar?');"><img src="{{ asset('bundles/backend/img/eliminar18.png'  ) }}" alt="Eliminar">{{"Eliminar" |trans}}</a></li>
            </ul>
          </td>

          <td><a href="{{ path('admin_habitacion_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
          <td><a href="{{ path('admin_habitacion_edit', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
