<h1><code ng:non-bindable="">angular.mock.dump</code>
<span class="hint">(API in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p><em>NOTE</em>: this is not an injectable instance, just a globally available function.</p>

<p>Method for serializing common angular objects (scope, elements, etc..) into strings, useful for debugging.</p>

<p>This method is also available on window, where it can be used to display objects on debug console.</p></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">angular.mock.dump(object);</pre>
<h3 id="Parameters">Parameters</h3>
<ul class="parameters"><li><code ng:non-bindable="">object – {*} – </code>
<ul>
<li>any object to turn into string.</li>
</ul></li>
</ul>
<h3 id="Returns">Returns</h3>
<div class="returns"><code ng:non-bindable="">{string}</code>
– <p>a serialized string of the argument</p></div>
</div>
</div>
