<h1><code ng:non-bindable="">angular.mock</code>
<span class="hint">(API in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><p>Namespace from 'angular-mocks.js' which contains testing related code.</p></div>
