<h1><code ng:non-bindable="">angular.mock.module</code>
<span class="hint">(API in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p><em>NOTE</em>: This is function is also published on window for easy access.<br>
<em>NOTE</em>: Only available with <a href="http://pivotal.github.com/jasmine/">jasmine</a>.</p>

<p>This function registers a module configuration code. It collects the configuration information
which will be used when the injector is created by <a href="api/angular.mock.inject"><code>inject</code></a>.</p>

<p>See <a href="api/angular.mock.inject"><code>inject</code></a> for usage example</p></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">angular.mock.module(fns);</pre>
<h3 id="Parameters">Parameters</h3>
<ul class="parameters"><li><code ng:non-bindable="">fns – {...(string|Function)} – </code>
<p>any number of modules which are represented as string
aliases or as anonymous module initialization functions. The modules are used to
configure the injector. The 'ng' and 'ngMock' modules are automatically loaded.</p></li>
</ul>
</div>
</div>
