<h1><code ng:non-bindable="">angular.noop</code>
<span class="hint">(API in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>A function that performs no operations. This function can be useful when writing code in the
functional style.
   <pre class="prettyprint linenums">
     function foo(callback) {
       var result = calculateResult();
       (callback || angular.noop)(result);
     }
   </pre></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">angular.noop();</pre>
</div>
</div>
