<h1><code ng:non-bindable="">angular.identity</code>
<span class="hint">(API in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>A function that returns its first argument. This function is useful when writing code in the
functional style.</p>

<pre class="prettyprint linenums">
     function transformer(transformationFn, value) {
       return (transformationFn || identity)(value);
     };
   </pre></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">angular.identity();</pre>
</div>
</div>
