<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>Implicit module which gets automatically added to each <a href="api/AUTO.$injector"><code>$injector</code></a>.</p></div>
