<h1><code ng:non-bindable="">$document</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>A <a href="api/angular.element"><code>jQuery (lite)</code></a>-wrapped reference to the browser's <code>window.document</code>
element.</p></div>
<h2 id="Dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ng.$window">$window</a></code>
</li>
</ul>
</div>
