<h1><code ng:non-bindable="">$rootElement</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><p>The root element of Angular application. This is either the element where <a href="api/ng.directive:ngApp"><code>ngApp</code></a> was declared or the element passed into
<a href="api/angular.bootstrap"><code>angular.bootstrap</code></a>. The element represent the root element of application. It is also the
location where the applications <a href="api/AUTO.$injector"><code>$injector</code></a> service gets
published, it can be retrieved using <code>$rootElement.injector()</code>.</p></div>
