<h1><code ng:non-bindable="">$filter</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>Filters are used for formatting data displayed to the user.</p>

<p>The general syntax in templates is as follows:</p>

<pre><code>    {{ expression | [ filter_name ] }}
</code></pre></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$filter(name);</pre>
<h3 id="Parameters">Parameters</h3>
<ul class="parameters"><li><code ng:non-bindable="">name – {String} – </code>
<p>Name of the filter function to retrieve</p></li>
</ul>
<h3 id="Returns">Returns</h3>
<div class="returns"><code ng:non-bindable="">{Function}</code>
– <p>the filter function</p></div>
</div>
</div>
