<h1><code ng:non-bindable="">Attributes</code>
<span class="hint">(type in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>A shared object between directive compile / linking functions which contains normalized DOM element
attributes. The the values reflect current binding state <code>{{ }}</code>. The normalization is needed
since all of these are treated as equivalent in Angular:</p>

<pre><code>     &lt;span ng:bind="a" ng-bind="a" data-ng-bind="a" x-ng-bind="a"&gt;
</code></pre></div>
<div class="member method"><h2 id="Methods">Methods</h2>
<ul class="methods"><li><h3 id="$set">$set(name, value)</h3>
<div class="$set"><p>Set DOM element attribute value.</p><h4 id="Parameters">Parameters</h4>
<ul class="parameters"><li><code ng:non-bindable="">name – {string} – </code>
<p>Normalized element attribute name of the property to modify. The name is
revers translated using the <a href="api/ng.$compile.directive.Attributes#$attr"><code>$attr</code></a>
property to the original name.</p></li>
<li><code ng:non-bindable="">value – {string} – </code>
<p>Value to set the attribute to.</p></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="Properties">Properties</h2>
<ul class="properties"><li><h3 id="$attr">$attr</h3>
<div class="$attr"><h4 id="Returns">Returns</h4>
<div class="returns"><code ng:non-bindable="">{object}</code>
– <p>A map of DOM element attribute names to the normalized name. This is
needed to do reverse lookup from normalized name back to actual name.</p></div>
</div>
</li>
</ul>
</div>
</div>
