<h1><code ng:non-bindable="">$httpBackend</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>HTTP backend used by the <a href="api/ng.$http"><code>service</code></a> that delegates to
XMLHttpRequest object or JSONP and deals with browser incompatibilities.</p>

<p>You should never need to use this service directly, instead use the higher-level abstractions:
<a href="api/ng.$http"><code>$http</code></a> or <a href="api/ngResource.$resource">$resource</a>.</p>

<p>During testing this implementation is swapped with <a href="api/ngMock.$httpBackend">mock $httpBackend</a> which can be trained with responses.</p></div>
<h2 id="Dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ng.$browser">$browser</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$document">$document</a></code>
</li>
</ul>
</div>
