<h1><code ng:non-bindable="">$rootScope</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>Every application has a single root <a href="api/ng.$rootScope.Scope"><code>scope</code></a>.
All other scopes are child scopes of the root scope. Scopes provide mechanism for watching the model and provide
event processing life-cycle. See <a href="guide/scope">developer guide on scopes</a>.</p></div>
</div>
