<h1><code ng:non-bindable="">$rootScopeProvider</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>Provider for the $rootScope service.</p></div>
<div class="member method"><h2 id="Methods">Methods</h2>
<ul class="methods"><li><h3 id="digestTtl">digestTtl(limit)</h3>
<div class="digestttl"><p>Sets the number of digest iteration the scope should attempt to execute before giving up and
assuming that the model is unstable.</p>

<p>The current default is 10 iterations.</p><h4 id="Parameters">Parameters</h4>
<ul class="parameters"><li><code ng:non-bindable="">limit – {number} – </code>
<p>The number of digest iterations.</p></li>
</ul>
</div>
</li>
</ul>
</div>
</div>
