<h1><code ng:non-bindable="">$templateCache</code>
<span class="hint">(service in module <code ng:non-bindable="">ng</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>Cache used for storing html templates.</p>

<p>See <a href="api/ng.$cacheFactory"><code>$cacheFactory</code></a>.</p></div>
</div>
