<h1><code ng:non-bindable="">$timeout</code>
<span class="hint">(service in module <code ng:non-bindable="">ngMock</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>This service is just a simple decorator for <a href="api/ng.$timeout"><code>$timeout</code></a> service
that adds a "flush" method.</p></div>
<h2 id="Usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$timeout();</pre>
</div>
<div class="member method"><h2 id="Methods">Methods</h2>
<ul class="methods"><li><h3 id="flush">flush()</h3>
<div class="flush"><p>Flushes the queue of pending tasks.</p></div>
</li>
</ul>
</div>
</div>
