<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>The <code>ngMock</code> is an angular module which is used with <code>ng</code> module and adds unit-test configuration as well as useful
mocks to the <a href="api/AUTO.$injector"><code>$injector</code></a>.</p></div>
