<h1><code ng:non-bindable="">$log</code>
<span class="hint">(service in module <code ng:non-bindable="">ngMock</code>
)</span>
</h1>
<div><h2 id="Description">Description</h2>
<div class="description"><p>Mock implementation of <a href="api/ng.$log"><code>ng.$log</code></a> that gathers all logged messages in arrays
(one array per logging level). These arrays are exposed as <code>logs</code> property of each of the
level-specific log function, e.g. for level <code>error</code> the array is exposed as <code>$log.error.logs</code>.</p></div>
<div class="member method"><h2 id="Methods">Methods</h2>
<ul class="methods"><li><h3 id="assertEmpty">assertEmpty()</h3>
<div class="assertempty"><p>Assert that the all of the logging methods have no logged messages. If messages present, an exception is thrown.</p></div>
</li>
<li><h3 id="reset">reset()</h3>
<div class="reset"><p>Reset all of the logging arrays to empty.</p></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="Properties">Properties</h2>
<ul class="properties"><li><h3 id="logs">logs</h3>
<div class="logs"><p>Array of logged messages.</p></div>
</li>
<li><h3 id="logs">logs</h3>
<div class="logs"><p>Array of logged messages.</p></div>
</li>
<li><h3 id="logs">logs</h3>
<div class="logs"><p>Array of logged messages.</p></div>
</li>
<li><h3 id="logs">logs</h3>
<div class="logs"><p>Array of logged messages.</p></div>
</li>
</ul>
</div>
</div>
