<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>The <code>ngMockE2E</code> is an angular module which contains mocks suitable for end-to-end testing.
Currently there is only one mock present in this module -
the <a href="api/ngMockE2E.$httpBackend">e2e $httpBackend</a> mock.</p></div>
