
@import 'mixins/border_radius'

html, body
  height: 100%

#page-wrap
  width 940px
  margin 0 auto
  min-height: 100%
  overflow:auto;
  padding-bottom: 150px;
a
  color: #0088cc;
  text-decoration: none;

body
  background-linear-gradient top #fff 18%  COLOR2 203%
  background-repeat: no-repeat;
  helvetica()
  width 90%
  margin 0 auto

#logo
  background url('/bundles/backend/img/logo_gureserbi.png') no-repeat
  box-shadow 10px 10px 5px #888;
  height 50px
  margin-top 0
  margin-bottom 10px
  width 207px

.divbilatzailea
  margin-top: 60px

.pricing-table, .title
  border-radius 10px 10px 0px 0px

footer
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;