<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>In Angular, the view is the DOM loaded and rendered in the browser, after Angular has transformed
the DOM based on information in the template, controller and model.</p>

<p><img src="img/guide/about_view_final.png"></p>

<p>In the Angular implementation of MVC, the view has knowledge of both the model and the controller.
The view knows about the model where two-way data-binding occurs. The view has knowledge of the
controller through Angular directives, such as <a href="api/ng.directive:ngController"><code>ngController</code></a> and <a href="api/ng.directive:ngView"><code>ngView</code></a>, and through bindings of this form:
<code>{{someControllerFunction()}}</code>. In these ways, the view can call functions in an associated
controller function.</p>

<h3>Related Topics</h3>

<ul>
<li><a href="guide/dev_guide.mvc">About MVC in Angular</a></li>
<li><a href="guide/dev_guide.mvc.understanding_model">Understanding the Model Component</a></li>
<li><a href="guide/dev_guide.mvc.understanding_controller">Understanding the Controller Component</a></li>
</ul></div>
