<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>Angular filters format data for display to the user.</p>

<p>For example, you might have a data object that needs to be formatted according to the locale before
displaying it to the user. You can pass expressions through a chain of filters like this:</p>

<pre><code>    name | uppercase
</code></pre>

<p>The expression evaluator simply passes the value of name to
<a href="api/ng.filter:uppercase"><code>uppercase filter</code></a>.</p>

<h3>Related Topics</h3>

<ul>
<li><a href="guide/dev_guide.templates.filters.using_filters">Using Angular Filters</a></li>
<li><a href="guide/dev_guide.templates.filters.creating_filters">Creating Angular Filters</a></li>
</ul>

<h3>Related API</h3>

<ul>
<li><a href="api/ng.$filter"><code>Angular Filter API</code></a></li>
</ul></div>
