<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>Services are a feature that Angular brings to client-side web apps from the server side, where
services have been commonly used for a long time. Services in Angular apps are substitutable
objects that are wired together using <a href="guide/di">dependency injection (DI)</a>.</p>

<h3>Related Topics</h3>

<ul>
<li><a href="guide/dev_guide.services.understanding_services">Understanding Angular Services</a></li>
<li><a href="guide/dev_guide.services.creating_services">Creating Angular Services</a></li>
<li><a href="guide/dev_guide.services.managing_dependencies">Managing Service Dependencies</a></li>
<li><a href="guide/dev_guide.services.injecting_controllers">Injecting Services Into Controllers</a></li>
<li><a href="guide/dev_guide.services.testing_services">Testing Angular Services</a></li>
</ul>

<h3>Related API</h3>

<ul>
<li><a href="api/ng">Angular Service API</a></li>
</ul></div>
