<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>Welcome to the angular Developer Guide. If you are here to learn the details of how to use angular
to develop web apps, you've come to the right place.</p>

<p>If you are completely or relatively unfamiliar with angular, you may want to check out one or both
of the following documents before returning here to the Developer Guide:</p>

<ul>
<li><a href="misc/started">Getting Started</a></li>
<li><a href="tutorial/index">Angular Tutorial</a></li>
</ul></div>
