<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>We want you to have an easy time while starting to use Angular.  We've put together the following steps on your path to
becoming an Angular expert.</p>

<ol>
<li>Read the <a href="guide/concepts">conceptual overview</a>.<br/>Understand Angular's vocabulary and how all the Angular
components work together.</li>
<li>Do the <a href="tutorial/index">AngularJS Tutorial</a>.<br/>Walk end-to-end through building and application complete with tests
on top of a node.js web server.  Covers every major AngularJS feature and show you how to set up your development
environment.</li>
<li>Download or clone the <a href="https://github.com/angular/angular-seed">Seed App project template</a>.<br/>Gives you a
starter app with a directory layout, test harness, and scripts to begin building your application.</li>
</ol>

<h2>Further Steps</h2>

<h3>Watch Videos</h3>

<p>If you haven’t had a chance to watch the videos from the homepage, please check out:
* <a href="http://www.youtube.com/watch?v=WuiHuZq_cg4&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">Introduction to AngularJS</a>
* <a href="http://www.youtube.com/watch?v=Yg-R1gchccg&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">Creating Directives</a>
* <a href="http://www.youtube.com/watch?v=IRelx4-ISbs&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">Communicating with Servers</a></p>

<p>And visit our <a href="http://www.youtube.com/user/angularjs">YouTube channel</a> for more AngularJS video presentations and
tutorials.</p>

<h3>Subscribe</h3>

<ul>
<li>Subscribe to the <a href="http://groups.google.com/forum/?fromgroups#!forum/angular">mailing list</a>.  Ask questions here!</li>
<li>Follow us on <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fangularjs.org%2F&amp;region=follow_link&amp;screen_name=angularjs&amp;source=followbutton&amp;variant=2.0">Twitter</a></li>
<li>Add us to your circles on <a href="https://plus.google.com/110323587230527980117/posts">Google+</a></li>
</ul>

<h3>Read more</h3>

<p>The AngularJS documentation includes the <a href="guide/index">Developer Guide</a> covering concepts and the
<a href="api/index">API Reference</a> for syntax and usage.</p></div>
