{% extends '::backend.html.twig' %}

{% block body -%}
    <form id="editformajax" action="{{ path('admin_jauladet_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT"/>

        {{ form_errors(edit_form) }}

        <div class="divnombre">
            {{ form_label(edit_form.nombre,'Código' | trans,{'attr': {'class': 'title milabel' }}) }}
            {{ form_errors(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'input xlarge' }}) }}
        </div>


        <div class="divnombre">
            {{ form_label(edit_form.descripcion,'Descripción' | trans,{'attr': {'class': 'title milabel' }}) }}
            {{ form_errors(edit_form.descripcion) }}
            {{ form_widget(edit_form.descripcion,{ 'attr': {'class': 'input xlarge' }}) }}
        </div>
        <div class="divimagen">
            {{ form_label(edit_form.image,'Imagen' | trans,{'attr': {'class': 'title milabel' }}) }}
            {{ form_errors(edit_form.image) }}
            {{ form_widget(edit_form.image,{ 'attr': {'class': 'input xlarge' }}) }}
        </div>

        <div class="divbtn">
            <a href="#" id="formeditajax" class="btngrabar"><img src="/bundles/backend/img/save18.png" alt="Guardar">&nbsp;Guardar</a>
        </div>

        <div style="display:none;">
            {{ form_rest(edit_form) }}
        </div>
    </form>

{% endblock %}
