{% extends '::backend.html.twig' %}

{% block body -%}

<h1 class="h3titulo">Nuevo hueco</h1>

<form id="newformajax" action="{{ path('admin_jauladet_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <div class="divnombre">
      {{ form_label(form.nombre,'Código' | trans,{'attr': {'class': 'title milabel' }}) }}
      {{ form_errors(form.nombre) }}
      {{ form_widget(form.nombre,{ 'attr': {'class': 'input xlarge'}}) }}
    </div>
    <div class="divnombre">
        {{ form_label(form.descripcion,'Descripción' | trans,{'attr': {'class': 'title milabel' }}) }}
        {{ form_errors(form.descripcion) }}
        {{ form_widget(form.descripcion,{ 'attr': {'class': 'input xlarge' }}) }}
    </div>
    <div class="divimagen">
      {{ form_label(form.image,'Imagen' | trans,{'attr': {'class': 'title milabel' }}) }}
      {{ form_errors(form.image) }}
      {{ form_widget(form.image,{ 'attr': {'class': 'input xlarge'}}) }}
    </div>

    <div class="divbtn">
        <a href="#" class="formajax btngrabar"><img src="/bundles/backend/img/save18.png" alt="Guardar">&nbsp;Guardar</a>
    </div>

    <div style="display:none;">
        {{form_rest(form)}}
    </div>

</form>

{% endblock %}
