{% extends '::backend.html.twig' %}

{% block contenido -%}

<div id="divh1" class="linean">
  <h3 class="h3titulo">Editar: {{ entity.nombre }}</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">
    <ul class="menuaborde">
      <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
       <li><a href="{{path('admin_centro')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
    </ul>
  </div>

  <div id="divcontenido" class="linean">
    <form action="{{ path('admin_centro_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      <input type="hidden" name="_method" value="PUT" />
      {{ form_widget(edit_form) }}
      <div style="display:none;">
        <p>
          <button type="submit">Editar</button>
        </p>
      </div>
    </form>
  </div>

</div> <!-- fila -->

{% endblock %}
