{% extends '::backend.html.twig' %}

{% block contenido -%}

<div id="divh1" class="linean">
  <h3 class="h3titulo">Selecciona centro:</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">

    <ul class="menuaborde">
      <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
       <li><a href="{{path('admin_centro')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
      </li>
    </ul>

  </div>

  <div id="divcontenido" class="linean">
    <form action="#" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
    </form>
  </div>
</div> <!-- fila -->

{% endblock %}