{% extends '::backend.html.twig' %}

{% block contenido -%}

{{ notify_all() }}

<div id="divh1">
  <h3 class="h3titulo">Lista de jaulaes</h3>
</div>

<div class="fila">

  <div id="divakzioak" class="linean">
    <ul class="menuaborde">
      <li><a href="{{ path('admin_jaula_new') }}"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt=" Añadir">{{"Guardar" | trans}}</a></li>
    </ul>
  </div>
  <div id="divcontenido" class="linean">
    <form action="{{ path('parametros') }}" method="post" {{ form_enctype(form) }}>

      <input type="hidden" name="_method" value="PUT" />

      {{ form_rest(form) }}

      <div style="display:none;">

        <p>
          <button type="submit">Edit</button>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
