{% extends '::backend.html.twig' %}

{% block contenido %}

  <div id="divh1">
    <h3 class="h3titulo">Configuración</h3>
  </div>

  <div class="fila">

    <div id="divakzioak" class="linean">
      <ul class="menuaborde">
        <li><a href="{{ path('admin_centro_new') }}"><img src="{{ asset('bundles/backend/img/plus18.png') }}" alt=" Añadir">{{"Nuevo" | trans}}</a></li>
      </ul>
    </div>

    <div id="divcontenido" class="linean">



    </div> <!-- divcontenido -->

  </div> <!-- fila -->
{% endblock %}
