{% extends '::backend.html.twig' %}

{% block contenido %}

  <div id="divh1">
    <h3 class="h3titulo">Configuración</h3>
  </div>

  <div class="fila">

    <div id="divakzioak" class="linean">

      <ul class="menuaborde">
        <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
         <li><a href="{{path('admin_config')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
        </li>
      </ul>

    </div>

    <div id="divcontenido" class="linean">

      <form action="{{ path('admin_config_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="form error">
          {{ form_errors(form) }}
        </div>

        <div id="divconfigmenu">
          <ul>
            <li><a href="#residente"    class="btnconfigmenu" data-menu="residente">Residente</a></li>
            <li><a href="#habitacion"   class="btnconfigmenu" data-menu="habitacion">Habitacion</a></li>
            <li><a href="#jaula"        class="btnconfigmenu" data-menu="jaula">Jaula</a></li>
            <li><a href="#confirmacion" class="btnconfigmenu" data-menu="confirmacion">Confirmación</a></li>
          </ul>
        </div>

        <div class="divseleccion">
          <div class="divselecionhabitacion"></div>
          <div class="divselecionresidente"></div>
          <div class="divselecionprenda"></div>
        </div>

        <div class="divconfig divresidente">
          <fieldset>
            <legend>Seleccione Residente</legend>
              <select name="selectresidente" id="selres" size="10">
                {% for residente in residentes %}
                  <option value="{{ residente.id}}">{{ residente.nombre ~ " " ~ residente.apellido }} </option>
                {% endfor %}
              </select>
          </fieldset>
        </div>

        <div class="divconfig divhabitacion" style="display:none;">
          <fieldset>
            <legend>Seleccione Habitacion</legend>
              <select name="selecthabitacion" id="selhab" size="10">
                {% for habitacion in habitaciones %}
                  <option value="{{ habitacion.id}}">{{ habitacion.nombre}}</option>
                {% endfor %}
              </select>
          </fieldset>
        </div>

        <div class="divconfig divjaula" style="display:none;">
          <fieldset>
            <legend>Seleccione Jaula</legend>
              <select name="selectjaula" id="seljau" size="10">
                {% for jaula in jaulas %}
                  <option value="{{ jaula.id}}">{{ jaula.nombre}}</option>
                {% endfor %}
              </select>
          </fieldset>
        </div>

        <div class="divconfig divjaulaimagen" style="display:none;">
          <div id="slider">
            <ul>
            </ul>
          </div>
        </div>

        <div class="divconfig divconfirmacion" style="display:none;">
          <h3>Revisa la configuración</h3>
          <table>
            <tbody>
            <tr>
              <td class="tdcodbar"></td>
            </tr>
            <tr>
              <td class="tdjaula"></td>
            </tr>
            <tr>
              <td class="tdjauladet"></td>
            </tr>
            </tbody>
          </table>
          <h3>¿Es correcto?</h3>
          <ul>
            <li class="btn btnsi">No</li>
            <li class="btn btnno">Si</li>
          </ul>
        </div>

          {{ form_rest(form) }}
        <div style="display:none;">
          <p>
            <button type="submit">Create</button>
          </p>
        </div>
    </form>

    </div> <!-- divcontenido -->

  </div> <!-- fila -->
{% endblock %}
