{% extends '::config.html.twig' %}

{% block contenido %}

{{ notify_all() }}

  <div id="divh1">
    <h3 class="h3titulo">Configuración</h3>
  </div>

  <div class="fila">

    <div id="divakzioak" class="linean">

      <ul class="menuaborde">
        <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/backend/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
         <li><a href="{{path('admin_config')}}" class=""><img src="{{ asset('bundles/backend/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
        </li>
      </ul>

    </div>

    <div id="divcontenido" class="linean">
      {% if app.request.attributes.get('_route') != "admin_config_edit" %}
        <form action="{{ path('admin_config_create') }}" method="post" {{ form_enctype(form) }}>
      {% else %}
        <form action="{{ path('admin_config_update', { 'id': miconfig.id }) }}" method="post" {{ form_enctype(form) }}>
      {% endif %}
        <div class="form error">
          {{ form_errors(form) }}
        </div>

        <div class="divseleccion">
          <div class="divselecionhabitacion"></div>
          <div class="divselecionresidente"></div>
          <div class="divselecionprenda"></div>
        </div>

        <div class="divconfig divresidente">
          <div class="divsubsel">
            <h5>Residente</h5>
            <fieldset>
              <input id="findres" class="bilatu" type="text" placeholder="Buscar...">
              <legend>Seleccione</legend>
                <select class="seleccion" name="selectresidente" id="selres" size="20">
                  {% for residente in residentes %}
                    {% if miconfig %}
                      <option {% if miconfig.residente.id == residente.id %}selected{% endif %} value="{{ residente.id}}">{{ residente.nombre ~ " " ~ residente.apellido }} </option>
                    {% else %}
                      <option value="{{ residente.id}}">{{ residente.nombre ~ " " ~ residente.apellido }} </option>
                    {% endif %}
                  {% endfor %}
                </select>
            </fieldset>
          </div>
          <div class="divsubsel">
            <h5>Habitación</h5>
            <fieldset>
              <legend>Seleccione</legend>
                <select class="seleccion" name="selecthabitacion" id="selhab" size="20">
                  {% for habitacion in habitaciones %}
                    {% if miconfig %}
                      <option {% if miconfig.habitacion.id == habitacion.id %}selected{% endif %} value="{{ habitacion.id}}">{{ habitacion.nombre}}</option>
                    {% else %}
                      <option value="{{ habitacion.id}}">{{ habitacion.nombre}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </fieldset>
          </div>
          <div class="divsubsel">
            <h5>Jaula</h5>
            <fieldset>
              <legend>Seleccione</legend>
                <select class="seleccion" name="selectjaula" id="seljau" size="20">
                  {% for jaula in jaulas %}
                    {% if miconfig %}
                      <option {% if miconfig.jaula.id == jaula.id %}selected{% endif %} value="{{ jaula.id}}">{{ jaula.nombre}}</option>
                    {% else %}
                      <option value="{{ jaula.id}}">{{ jaula.nombre}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </fieldset>
          </div>
          <div class="divsubsel">
            <h5>Hueco</h5>
            <ul>
              <li><a id="btnseleccionar" href="#">Seleccionar</a></li>
              <li class="imgseleccionado">
                {% if miconfig %}
                  {% if miconfig.jauladet %}
                    <img data-jauladetid="{{ miconfig.jauladet.id}}"
                         {% if miconfig.jauladet.foto %}
                             src="/images/uploads/{{ miconfig.jauladet.foto }}"
                         {% else %}
                             src=""
                         {% endif %}
                             alt="">
                  {% endif %}
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        <div id="gallery" style="display:none;">
          {% for irudia in irudiak %}
            <a class='fancybox-thumb' title="{{ irudia.nombre }}" rel='fancybox-thumb' href='/images/uploads/{{ irudia.foto }}'  data-jauladetid="{{ irudia.id }}"><img data-jauladetid="{{ irudia.id }}" src='/images/uploads/{{ irudia.foto }}' alt="{{ irudia.id }}"></a>"
          {% endfor %}
        </div>

        <div style="display:none;">
            <input type="hidden" id="miruta" value="{{ app.request.attributes.get('_route') }}"/>
          {{ form_rest(form) }}
          <p>
            <button type="submit">Create</button>
          </p>
        </div>
    </form>

    </div> <!-- divcontenido -->

  </div> <!-- fila -->
{% endblock %}
