{% extends '::backend.html.twig' %}

{% block contenido -%}

  {{ notify_all() }}

<div id="divh1">
    <h3 class="h3titulo">Grafico de registros</h3>
</div>

<div class="fila">

    <div id="divakzioak" class="linean">
        <ul class="menuaborde">

        </ul>
    </div>

    <div id="divcontenido" class="linean">

        <div class="well">
            <table class="table">
                <thead>
                <tr>
                    <th><label for="dpd1">Desde:</label><input type="text" class="span2" value="" id="dpd1"></th>
                    <th><label for="dpd2">Hasta:</label><input type="text" class="span2" value="" id="dpd2"></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="ezkerrera">
            <div class="well leyenda">
                <ul>
                    <li><span class="label label1"></span></li>
                    <li><span class="label label2"></span></li>
                    <li><span class="label label3"></span></li>
                    <li><span class="label label4"></span></li>
                    <li><span class="label label5"></span></li>
                </ul>
            </div>
        </div>
        <div class="eskuinera">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/backend/js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backend/js/bootstrap-datepicker.js') }}"></script>
    <script>

        $(document).ready(function(){

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            var checkin = $('#dpd1').datepicker({
                format: 'dd-mm-yyyy',
                onRender: function(date) {
                    return date.valueOf() < now.valueOf() ? '' : '';
                }
            }).on('changeDate', function(ev) {
                        if (ev.date.valueOf() > checkout.date.valueOf()) {
                            var newDate = new Date(ev.date)
                            newDate.setDate(newDate.getDate() + 1);
                            checkout.setValue(newDate);
                        }
                        checkin.hide();
                        $('#dpd2')[0].focus();
                    }).data('datepicker');
            var checkout = $('#dpd2').datepicker({
                format: 'dd-mm-yyyy',
                onRender: function(date) {
                    return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function(ev) {
                        checkout.hide();

                        var des = $('#dpd1').val();
                        var has = $('#dpd2').val();

                        $.ajax({
                            type: "POST",
                            url: "/chart/",
                            data: { desde: des, hasta: has},
                            success: function(data){
                                var noCommas = jQuery.parseJSON(data)

                                var datuak=[];
                                noCommas.forEach(function(d) {
                                    datuak.push({
                                        value: parseInt(d.value),
                                        color: d.color
                                    })
                                });

                                var myPie = new Chart(document.getElementById("myChart").getContext("2d")).Pie(datuak);
                            }
                        });

                        $.ajax({
                            type: "POST",
                            url: "/chartinfo/",
                            data: { desde: des, hasta: has},
                            success: function(data){
                                $('.label1' ).text('');
                                $('.label2' ).text('');
                                $('.label3' ).text('');
                                $('.label4' ).text('');
                                var datuak = jQuery.parseJSON(data);
                                console.log(datuak);
                                for (var i=0; i<datuak.length; i++) {
                                    var lbl = "label" + (i+1);
                                    $('.' + lbl).text(datuak[i].descripcion+ ' (' + datuak[i].value + ')');
                                    $('.' + lbl).css('background-color', datuak[i].color);
                                }

                            }
                        });



                    }).data('datepicker');

            $.post("/chart/",function(data){
                var noCommas = jQuery.parseJSON(data)

                var datuak=[];
                noCommas.forEach(function(d) {
                    datuak.push({
                        value: parseInt(d.value),
                        color: d.color
                    })
                });

                var myPie = new Chart(document.getElementById("myChart").getContext("2d")).Pie(datuak);
            });

            $.ajax({
                type: "POST",
                url: "/chartinfo/",
                success: function(data){

                    var datuak = jQuery.parseJSON(data);
                    console.log(datuak);
                    for (var i=0; i<datuak.length; i++) {
                        var lbl = "label" + (i+1);
                        $('.' + lbl).text(datuak[i].descripcion+ ' (' + datuak[i].value + ')');
                        $('.' + lbl).css('background-color', datuak[i].color);
                        $('#dpd1').val('06-01-1979');
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!
                        var yyyy = today.getFullYear();

                        if(dd<10) {
                            dd='0'+dd
                        }

                        if(mm<10) {
                            mm='0'+mm
                        }

                        today = dd+'-'+mm+'-'+yyyy;

                        $('#dpd2').val(today);

                    }

                }
            });


        });
    </script>


{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/datepicker.css') }}"/>
    <style>
        .menuaborde {
            border: 0px !important;
        }
        nav {
            height: 47px;
            margin-left: 2px;
            position: relative;
            /* width: 940px; */
            z-index: 100;
            top: -1px;
        }
        .KO1 {
            background-color: #F38630;
        }
        .KO2 {
            background-color: #584A5E;
        }
        .KO3 {
            background-color: #69D2E7;
        }
        .OK {
            background-color: #468847;
        }
        .leyenda {
            width: 280px;
            color:#000000;
        }
        #myChart {
            margin: 0 40px 0 0;
        }
    </style>

{% endblock %}