{% extends '::frontend.html.twig' %}


{% block body %}
    <div class="divbilatzailea" ng-controller="PrendaCtrl">
        <ul class="pricing-table">
            <li class="title">
                <form>

                    <div class="row collapse">
                        <div id="logo"></div>
                        {#<label>{{ '{{ placeholder }}' | raw }}</label>#}
                        <input id="nireinput" type="text" class="attached-input text-center" ng-model="codbar" on-enter="bilaketa()"
                               placeholder="{{'{{ placeholder }}' | raw }} " autofocus>
                    </div>
                </form>
            </li>

            <li class="price">
                <span ng-show="!prenda.minombre">No se ha encontrado</span>
                <span ng-hide="!prenda.minombre">{{ "{{ prenda.mijaula.config[0].jaula.nombre  }} - {{ prenda.minombre }} : {{ prenda.mijaula.config[0].residente.nombre  }} {{ prenda.mijaula.config[0].residente.apellido   }}" | raw }}</span>
            </li>
            <li class="bullet-item">
                <img ng-hide="!prenda.miimagen" src="{{ '{{ prenda.miimagen }}'|raw }}" height="auto" width="auto"/>
            </li>

        </ul>
    </div>
    <div style="display:none;">
        <audio id="myplayer" controls>
            <source id="source" src="/media/correcto.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>

{% endblock %}

